
.productFlexItem {
  width: 33%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}


.grid-item {
  
  
  /*grid-column-start: 2;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;*/
}
